doctype html
html

head
meta(charset='utf-8')
link(rel='stylesheet' type='text/css' href='bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='style.css')
title= title

body
div.container.col-md-12.col-lg-10.col-xl-8.p-0.d-flex.justify-content-center
	form.form-inline.qt.rounded.mb-0(action='/submit' role='form' method='POST'): div.container.col-12: div.form-group.row
		div.input-group.input-group-sm.col-12.m-0.p-1
			div.input-group-addon.col-2 Input File or Directory
			input.form-control.form-control-sm(id='inPath' name='inPath' type='text' value=usr.inPath)
		div.input-group.input-group-sm.col-12.m-0.p-1
			div.input-group-addon.col-2 Optional Output Directory
			input.form-control.form-control-sm(id='outPath' name='outPath' type='text' value=usr.outPath)
		div.input-group.input-group-sm.col-12.m-0.p-1
			div.input-group-addon.col-2 ./usr/rules.csv
			textarea.form-control.form-control-sm(id='rules' name='rules' placeholder='user rules.csv file' type='text' rows='20') #{usr.rules}
		div.input-group.input-group-sm.col-12.m-0.p-1
			div.input-group-addon.col-2 ./usr/append.csv
			textarea.form-control.form-control-sm(id='append' name='append' placeholder='user append.csv file' type='text' rows='10') #{usr.append}
		div.form-check.px-2
			input.form-check-input(type='checkbox' id='m' name='m')
			label.form-check-label Move Only
		div.form-check.px-2
			input.form-check-input(type='checkbox' id='s' name='s')
			label.form-check-label Silent Log
		div.form-check.px-2
			input.form-check-input(type='checkbox' id='o' name='o')
			label.form-check-label Log Output Only
		div.input-group.input-group-sm.col-1.mx-auto.px-2
			button.form-control.form-control-sm(type='submit') Start
script(src='jquery/dist/jquery.min.js')
script(src='moment/min/moment.min.js')
script(src='tether/dist/js/tether.min.js')
script(src='bootstrap/dist/js/bootstrap.min.js')
