doctype html
html
  head
    title= title
    link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='../css/contro-ui.css')
    link(rel='stylesheet' type='text/css' href='../css/style.css')

body
  nav.navbar.sticky-top.d-flex.justify-content-center
    ul.nav.d-flex.justify-content-center.row-x
      li.nav-item: a.nav-link.m-0.p-0(href='#') #{title}
        small.col-12.m-0.p-0.d-flex.justify-content-center #{version} 
      li.nav-item: #inputTab.uie.mx-2 Input
      li.nav-item: #toolboxTab.uie.mx-2 Toolbox
      li.nav-item: #editorTab.uie.mx-2 Editor
      li.nav-item: #outputTab.uie.mx-2 Output
  .container.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-10.justify-content-center.mb-2: .row.px-2
    .col-10.p-2
      input#input(type='text' placeholder='/input/file/or/folder')
    .uie.col-2.p-2(name='selectIn') Open
    .col-10.p-2
      input#output(type='text' placeholder='/output/folder')
    .uie.col-2.p-2(name='selectOut') Output
    .col-12.p-2
      textarea#rules(type='text' placeholder='user rules.csv file' rows='20')
    .col-12.p-2
      textarea#appends(type='text' placeholder='user append.csv file' rows='10')
    .uie.col.mx-2 Organize and Copy Only
    .uie.col.mx-2 Silent Log
    .uie.col.mx-2 Log Output Only
    .uie.col.mx-2(name='start') Start
  script.
    console.log('opening index.pug');
    console.log('#{node_modules}');
    require('../js/index.js')({__rootDir:'#{__rootDir}'});
